<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ucomplex.ucomplex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Common.base.UCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Modules.Login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Events.EventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.RoleSelect.RoleSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.Subject.SubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.SubjectsList.SubjectsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.Portfolio.PortfolioActivity"
            android:screenOrientation="portrait" />

        <service android:name=".Modules.Subject.SubjectMaterials.NotificationService" />

        <activity
            android:name=".Modules.Users.UsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.UserProfile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.RoleInfo.RoleInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.RoleInfoTeacher.RoleInfoTeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.MessagesList.MessagesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Modules.Messenger.MessengerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Modules.FullscreenImageView.FullscreenViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenVieTheme"/>

        <activity
            android:name=".Modules.Calendar.CalendarActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".Common.utility.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".Common.UCContentProvider"
            android:authorities="org.ucomplex.ucomplex.Common.UCContentProvider" />

        <service android:name=".Common.download.DownloadService"/>

        <service android:name=".Modules.Updates.UpdatesService"/>

        <receiver android:name=".Common.NewMessageBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.ucomplex.ucomplex.NEW_MESSAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>